// --------------------------------------------- //
// SECTION 1 - MODULES AND EXTERNAL LIBRARIES
// --------------------------------------------- //

// --------------------------------------------- //
// SECTION 2 - CUSTOM STYLES
// --------------------------------------------- //
section{
  &.about-section{
    img {
      width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-radius: .5rem;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}

